<h2>Записаться!</h2>

<h3> <%=@title%><br>
<%=@message%>
</h3>

<form action="/visit" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Ваше имя</label>
    <input name="user_name" type="text" class="form-control" placeholder="Ваше имя">
    <small id="emailHelp" class="form-text text-muted">We'll never share your Name with anyone else.</small>
  </div>

    <div class="form-group">
    <label for="exampleInputEmail1">Ваш телефон</label>
    <input name="user_phone" type="text" class="form-control" placeholder="Ваш телефон">
    <small id="emailHelp" class="form-text text-muted">We'll never share your Number phone with anyone else.</small>
  </div>

    <div class="form-group">
    <label for="exampleInputEmail1">Когда Вас ждать</label>
    <input name="date_time" type="text" class="form-control" placeholder="Дата и время">
  
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Выберите парикмахера!</label>
    <select name="professional" type="text" class="form-control" id="exampleFormControlSelect1">
      <option>Марина</option>
      <option>Карина</option>
      <option>Юра</option>
      <option>Тема</option>
      <option>Миша</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>